{{ extend 'admin_layout.html'}}

{{block mysidebar}}
    <h1 class="mt-4">Imagen Contaminacion</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><strong>{{=nombre['fecha'] if img_id else "Imagen Contaminacion"}}</strong></li>
    </ol>
{{end}}

<style>
    img{
        width: 50% !important;
    }
</style>

<div class="container-fluid">        
    <div class="card mb-4">
        <div class="container">
            <br>
            {{=form}}
            <hr>
            <div class="center">
                <a href="{{=URL('contaminacion_imagen')}}" class="btn btn-success">Regresar</a><br>
            </div> 
            <br>            
        </div>
    </div>
</div>
