{{extend 'layout.html'}}

<!--https://github.com/mattlag/mTimeLapse-->
<link rel="stylesheet" href="{{=URL('static','mTimeLapse/mTimeLapse.css')}}">
<script src="{{=URL('static','mTimeLapse/mTimeLapse.js')}}"></script>

<style>
  .styled-select select {
      -moz-appearance:none !important; /* Firefox */
      -webkit-appearance:none !important; /* Safari and Chrome */
      appearance:none !important;
  }
</style>

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #eaeaea; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h2>Centro America</h2>
    <h3>Informacion de Copernicus</h3>
  </div>
</div>
{{end}}



<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <div class="container">
            <a class="btn btn-primary float-left" href="{{=URL('contaminacion','centroamerica')}}" role="button">Regresar</a>            
        </div>
    </div>    
  </div>
  <hr>
  <div class="col-md-12 ">          
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#exampleModalLong">
        Reporte          
        <svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"></path>
        </svg>
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Generar Reporte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                        <div class="col-6 text-center">
                            <div class="dropdown">
                                <br>
                                <Select id="fechas" class="btn btn-success dropdown-primary styled-select">
                                    {{fechas = sorted(fechas)}}
                                    <option value="hehe">Selecciona un Año</option>                                    
                                    {{for i in fechas:}}
                                        <option value="{{=i}}" class="dropdown-item">{{=i}}</option>
                                    {{pass}}
                                </Select>
                            
                                <div>
                                    {{for i in fechas:}}
                                        <div id="{{=i}}" class="fecha" style="display:none"> Año Seleccionado: {{=i}} </div>
                                    {{pass}}
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-6">
                            <br>
                            <button type="button" class="btn btn-info" id="rep" onclick="reporte()">Generar Reporte</button>
                        </div>
                    </div>
                
                    <div class="row text-center">
                        <div class="col-12">
                            <br>
                            <p class="text-center" id='resultado'></p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
            <div id="controls">
                <div id="data_stamp">        
                </div>
            </div>
          
      </div>
    </div>  
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <div class="container">
              {{e = 0}}
              <div id="mTimeLapse" class="justify-content-center">
                {{for i in imagenes:}}
                        <img src="{{=URL('contaminacion', 'download', args=i.imagen)}}" data-stamp="Imagen {{=e}}"/>
                    {{e +=1}}
                {{pass}}
              </div>
          </div>
        </div>
    </div>
</div>


<!-- CUSTOM -->
<br><br><br><br><br>
<style>
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {padding-bottom: 35px !important;}
.footer {
    position: static;
    margin-top: 100px;
    top: 10px;
}
</style>

<script>
function remover() {
  var element = document.getElementById("efe");
  element.classList.remove("container-fluid");
}
remover()
</script>
<!-- CUSTOM -->



<script>
  fecha = ''  
  $(function() {  
      $('#fechas').change(function(){
          $('.fecha').hide();
          $('#' + $(this).val()).show();
          
          fecha = $(this).val()
          //console.log($(this).val())
      });
  });

  function reporte(){
      if(fecha){
        document.getElementById('resultado').innerHTML = '<strong> Generando reporte...</strong>'
        location.href = "{{=URL('contaminacion','reporte_ca')}}" +'?contaminante='+ {{=contaminante}}+'&ano='+fecha;
        document.getElementById('resultado').innerHTML = 'Reporte: ' +  fecha
      }else{
          document.getElementById('resultado').innerHTML = '<strong> Valores no seleccionados.</strong>'
      }
  }
</script>