{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">/{{=request.application}}/{{=request.controller}}/{{=request.function}}</h1>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis expedita sapiente eligendi magni quam aliquam libero voluptatum beatae. Ipsam, quas quae dicta unde rerum nemo ullam dignissimos tempora sed?
  </div>
  <div class="col-md">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis expedita sapiente eligendi magni quam aliquam libero voluptatum beatae. Ipsam, quas quae dicta unde rerum nemo ullam dignissimos tempora sed?
  </div>
</div>



