{{extend 'data_layout.html'}}

<h1 class="mt-4">API - Informacion</h1>

<p>
    La informacion que se ofrece mendiante la API de Ambiente es una recoleccion y procesado de la informacion de diferentes fuentes como el Banco Mundial, el Centro Europeo de Previsiones Meteorológicas a Plazo Medio y The World Air
    Quality Project.
</p>

<div class="text-center">
    <img src="https://www.infyde.eu/v_portal/inc/imagen.asp?f=banco_mundial_logo76.png&c=1" alt="" style='width: 50%;height: 50%;'/>
    <img src="https://www.ign.es/web/resources/certif/PNT/Imagenes/1_Copernicus_logo.jpg" alt="" style='width: 45%;height: 45%;'/>
</div>

